@font-face {
  font-family: 'ppmori';
  src: url('fonts/PPMori-Regular.woff2') format('woff2'),
       url('fonts/PPMori-Regular.woff') format('woff'),
       url('fonts/PPMori-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ppmori';
  src: url('fonts/PPMori-SemiBold.woff2') format('woff2'),
       url('fonts/PPMori-SemiBold.woff') format('woff'),
       url('fonts/PPMori-SemiBold.ttf') format('truetype');
  font-weight: Bold;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: ppmori;
}

.button {
  padding: 12px, 20px;
  border: 1px solid #000;
  border-radius: 4px;
}
